body{
    margin: 0 auto;
}
.faqSec
{
    background-color:#000;
    height: 650px;
    margin: 0 auto;
}
.faqHeading
{
  margin: 0 auto;
  color: #fbbb02;
  position: relative;
  top:40px;
  font-size: 36px;
  font-weight: 800;
}
.faqRow
{
    display: flex;  
}
.faqLeft
{
    width: 50%;
    background-color: #f2f2f2;
    height:auto;
    position: relative;
    top:50px;
    padding: 20px 20px 20px 50px; 
    text-align: justify;
    font-size: 14px;
}
.faqRight
{
    width: 50%;
    background-color: #f2f2f2;
    height:auto;
    position: relative;
    top:50px;
     padding: 20px 20px 00px 20px; 
    text-align: justify;
    font-size: 14px;
}